# Project exclude paths
/demo_project/demo_cas1/target/
/demo_project/demo_cas2/target/
/demo_project/demo_cas3_springsecurity/target/
/demo_project/demo_freemarker/target/
/demo_project/demo_jms/target/
/demo_project/demo_jms_springjms_consumer/target/
/demo_project/demo_jms_springjms_producer/target/
/demo_project/demo_msg/target/
/demo_project/demo_spring_data_redis/target/
/demo_project/demo_spring_data_solr/target/
/dongyimai_parent/dongyimai_cart_interface/target/
/dongyimai_parent/dongyimai_cart_service/target/
/dongyimai_parent/dongyimai_cart_web/target/
/dongyimai_parent/dongyimai_common/target/
/dongyimai_parent/dongyimai_content_interface/target/
/dongyimai_parent/dongyimai_content_service/target/
/dongyimai_parent/dongyimai_dao/target/
/dongyimai_parent/dongyimai_manager_web/target/
/dongyimai_parent/dongyimai_order_interface/target/
/dongyimai_parent/dongyimai_order_service/target/
/dongyimai_parent/dongyimai_page_interface/target/
/dongyimai_parent/dongyimai_page_service/target/
/dongyimai_parent/dongyimai_page_web/target/
/dongyimai_parent/dongyimai_pay_interface/target/
/dongyimai_parent/dongyimai_pay_service/target/
/dongyimai_parent/dongyimai_pojo/target/
/dongyimai_parent/dongyimai_portal_web/target/
/dongyimai_parent/dongyimai_search_interface/target/
/dongyimai_parent/dongyimai_search_service/target/
/dongyimai_parent/dongyimai_search_web/target/
/dongyimai_parent/dongyimai_sellergoods_interface/target/
/dongyimai_parent/dongyimai_sellergoods_service/target/
/dongyimai_parent/dongyimai_shop_web/target/
/dongyimai_parent/dongyimai_sms/target/
/dongyimai_parent/dongyimai_solr_util/target/
/dongyimai_parent/dongyimai_user_interface/target/
/dongyimai_parent/dongyimai_user_service/target/
/dongyimai_parent/dongyimai_user_web/target/
/dongyimai_parent/target/
/target/