<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    		http://www.springframework.org/schema/beans/spring-beans.xsd
    		http://www.springframework.org/schema/context
    		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.offcn" />

    <!-- 产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://10.10.127.125:61616" />
    </bean>

    <!-- Spring用于管理ConnectionFactory的ConnectionFactory -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory" />
    </bean>

    <!--队列目的地，点对点信息 -->
    <bean id="spring_queue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="spring_queue" />
    </bean>
    <!-- 消息监听容器 -->
    <bean
            class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="spring_queue" />
        <property name="messageListener" ref="queueListener" />
    </bean>
    <!-- 监听类 -->

    <!--队列目的地，点对点信息 -->
    <bean id="spring_topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="spring_topic" />
    </bean>



    <!-- 消息监听容器 -->
    <bean
            class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="spring_topic" />
        <property name="messageListener" ref="topicListener" />
    </bean>
    <!-- 监听类 -->

</beans>
